.fenlei{
    margin-top: 20px;
    border: 1px solid #eeeeee;
    /*padding: 20px 40px;*/
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.search-box{
    margin-top: 10px;
}
.act{
    background: #e7ceb1;
    /*border: 1px solid #e7ceb1;*/
    padding: 5px 0;
    border-radius: 5px;
    color: #ffffff;
}
.fenlei div{
    /*color: #696969;*/
}
.all{
    font-weight: 500;
    background: #D78F6D;
    padding: 2px 5px;
    color: #fff;
    border: 1px solid #D78F6D;
    border-radius: 5px;
    margin: 0 5px;
}

.xiangxi{
    float: left;
    display: inline-block;
}
.xiaolei{
    text-align: center;
    cursor: pointer;
}
.xiaolei div{
    margin-bottom: 20px;

}
.xiaolei span{
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}
.xiaolei span:hover{
    cursor: pointer;
    background: #e7ceb1;
    /*border: 1px solid #e7ceb1;*/
    border-radius: 5px;
    color: #ffffff;
}
ul{
    list-style: none;
}
/*--------------------things-----------------------*/
.things{
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding-bottom: 20px;*/
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}
.things .nav-pills{
    border-bottom: 1px solid #eeeeee;
}
/*.food-show{*/

    /*padding: 10px 30px;*/
/*}*/
.food-show {
    padding: 10px 15px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.food-show .food-box{
    /*margin-top: 10px;*/
    margin-bottom: 20px;
    padding: 10px 10px;
    border: 1px solid #eeeeee;
}
.food-show .food-box img{
    padding-right: 0;
    padding-left: 0;
    /*width: 30%;*/
    height: auto;
}
.money{
    color: #FF6708;
}
.color6{
    color: rgb(218, 45, 45);
}
.color2{
    color: #D78F6D;
}
.color4{
    color: #C0AB84;
}
.color5{
    color: #B15546;
}
/*.food-show .col-xs-12,.col-sm-12{*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
/*}*/

.food-box a{
    text-decoration: none;
    color: #333;
}


.goLogin{
    display: block;
}
.goLogin-bottom{
    display: block;
}
.goregst{
    display: none;
}
.goregst-bottom{
    display: none;
}
.ok{
    display: none;
}
.goForget{
    display: none;
}
.exit,.goin1{
    background: #C0AB84;
    border: 1px solid #C0AB84;
    padding: 5px 10px;
    color: white;
    margin-top: 8px;
    /* margin-left: 15px; */
}
.valid{
    margin-top: 10px;
    padding-left: 16px;

    padding-bottom: 2px;

    font-weight: bold;
    color: green;
}
.exit-text{
    font-size: 20px;
    padding: 30px 30px;
    text-align: center;
}
#name{
    display: none;
    margin-left: 0;
}
#goin1{
    display: block;
}
#forgetRegist,#cuowuYan,#misYan,#hasRegist,#mis{
    display: none;
}
/* .yanzhen{
    float: right;
    margin-right: 20px
} */

.btn-block {
    color: #ffffff;
    background: #C23415;
    border-color: #C23415;
}
.error {
    margin-top: 10px;
    padding-left: 16px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #EA5200;
}

input.error { border: 1px solid red; }
label.error {
    margin-top: 10px;
    padding-left: 16px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #EA5200;
}
label.checked {
    background:url("./demo/images/checked.gif") no-repeat 0px 0px;
}