.logo2{
    height: 30px;
    margin-top: -5px;
}
.top-bg{
    padding: 0 0;
}
.bg{

    width: auto;
}
.bg img{
    width: 100%;
}
.personal{
    margin-bottom: 30px;
    margin-top: -30px;
}
.personal img{
    width:  70%;
    /*min-width: 60%;*/
    max-width: 50%;
    margin: 0 auto;
}
.personal p{
    text-align: center;
    padding: 5px 0;
}
.person div{
    height: 100px;
    /*background: pink;*/
}
.person div a{
    color: #828282;
    text-decoration: none;
}
.person div img{
    margin: 10px auto;
    height: 25%;
}
.person div h5{
    text-align: center;
}
.person p{
    border-bottom: 1px solid #777777;
}
/* -------------------------------------------------------- */
/* .exit-text{
    font-size: 20px;
    padding: 30px 30px;
    text-align: center;
} */
.exit,.goin1{
    background: #C0AB84;
    border: 1px solid #C0AB84;
    padding: 5px 10px;
    color: white;
    margin-top: 8px;
    /* margin-left: 15px; */
}